* {
  margin: 0;
  padding: 0;
  /* font-family: Lato; */
}
.banner {
  padding: 0 160px;
  background: rgba(229, 84, 115, 0.1);
  display: flex;
  gap: 100px;
  justify-content: space-between;
  align-items: center;
}
.banner .container {
  width: 88%;
}
.banner .title {
  color: #272727;
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 5px;
}
.description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 14px;
  font-weight: 400;
  margin: 20px 0;
}
.btn-primary {
  border-radius: 8px;
  background: #e55473;
  padding: 15px 32px;
  border: 0;
  color: white;
}
.img-container {
  padding-top: 50px;
  display: flex;
}
.img-container img {
  width: 100%;
}
.feature {
  padding: 100px 160px;
  text-align: center;
}
.feature .text .title {
  color: #272727;
  font-size: 32px;
  font-weight: 800;
}
.feature .category {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.feature img {
  width: 180px;
  height: 200px;
}
.category > div > div {
  padding: 80px 60px 0;
  display: flex;
  border-radius: 300px 300px 0px 0px;
}
.category1 {
  background: rgba(167, 33, 98, 0.15);
}
.category2 {
  background: rgba(5, 151, 160, 0.15);
}
.category3 {
  background: rgba(71, 125, 17, 0.15);
}
.category p {
  text-decoration: underline;
  font-weight: bold;
}
.services {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  padding: 68px;
  margin-top: 100px;
}
.services img {
  height: 70px;
  width: 70px;
}
.hot-deal {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  padding: 80px 0;
}
.hot-deal .text {
  max-width: 475px;
}
.img-container img {
  width: 250px;
}
.instagram{
  text-align: center;
  padding: 80px 100px;
}
.instagram .text{
  width: 50%;
  margin: 0 auto;
}
.instagram .img-container{
  display: flex;
  justify-content: space-around;
}