* {
  margin: 0;
  padding: 0;
  /* font-family: Lato; */
}
.banner {
  background: rgba(229, 84, 115, 0.1);
  display: flex;
  gap: 100px;
  justify-content: space-between;
  align-items: center;
  padding: 0 160px;
}
.banner .container {
  width: 88%;
}
.banner .title {
  color: #272727;
  font-size: 60px;
  font-weight: 800;
}
.banner .description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 14px;
  font-weight: 400;
  margin: 25px 0;
}
.btn-primary {
  border-radius: 8px;
  background: #e55473;
  padding: 15px 32px;
  border: 0;
  color: white;
}
.img-container {
  padding-top: 50px;
  display: flex;
  
}
.img-container img {
  width: 100%;
}
